*{
    padding: 0%;
    margin: 0%;
}

/* P1.HTML - THEORY PART */

/* P2.HTML - FLEX BOX */
.container{
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    flex-flow: row wrap;
    column-gap: 20px;
    row-gap: 20px;
    gap: 20px;
}
.container>.item{
    background-color: grey;
    /* margin: 20px; */
    padding: 20px;
    width: 29%;
}

/* P3.HTML - JUSTIFY CONTENT(Horizontal Alignment) */
.container1{
    background-color: lightgray;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: start;
    justify-content: end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-evenly; /* equal space */
    /* justify-content: space-around; */
}
.container1>.item{
    background-color: grey;
    width: 31.33%;
    /* text-align: center; */
}

/* P4.HTML -ALIGN-ITEMS - Vertical Alignment (CROSS-AXIS) */
.container2{
    height: 400px;

    align-items: flex-start;
    align-items: flex-end;
    align-items: center;

    align-content: flex-start;
    align-content: flex-end;
    align-content: start;
    align-content: end;
    align-content: center;
    align-content: space-between;
    align-content: space-around;
    align-content: space-evenly;
}
.container2>.item{
    height: 50px;
}

/* P5.HTML - FLEX-ITEM :FLEX-GROW(FLEX) */
.container3>.item{
    /* width: 200px; */
    height: 100px;
    flex-grow: 1; /* width */
    flex: 1; /* width */
}
.container3>.item:first-child{
    flex: 2;
}
.container3>.item:last-child{
    flex: 3; /*display triple width*/
}

/* P6.HTML - FLEX-ITEN : FLEX-SHRINK */
.container4{
    flex-wrap: nowrap /* manage multiple of line */;
}
.container4>.item{
    flex-shrink: 1;
}
.container4>.item:first-child{
    flex-shrink: 5;
}
.container4>.item:last-child{
    flex-shrink: 9;
}

/* P7.HTML - FLEX-ITEM : ORDER */
.container5>.item:first-child{
    order: 2;
}
.container5>.item:nth-child(2){
    order: 3;
}
.container5>.item:last-child{
    order: 1;
}

/* P8.HTML - FLEX-ITEM : ALIGN-SELF */
.container6{
    height: 400px;
    justify-content: center;
    /* align-items: baseline; */
    align-items: center;
}
.container6>.item{
    height: 100px;
}
.container6>.item:first-child{
    font-size: 20px;
    align-self: flex-start;
}
.container6>.item:nth-child(2){
    font-size: 30px;
}
.container6>.item:last-child{
    font-size: 40px;
    align-self: flex-end;
}
